/* body */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background-color: #fffefc;
  margin:0; 
  padding:0; 
  top:0; 
  left:0; 
  right:0;
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}


/* Container - fluid */
.container{
  
  margin: auto;
  padding: auto;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

}

/* Container Layout website  - Container */
/* .container{
    margin: auto;
    padding: auto;
    text-decoration: none;
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* Layout website - Header */
.header{
    position: -webkit-sticky;
    height: 60px;
    margin:auto;
    padding: 5px 5px 10px 20px;
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    border-bottom: rgba(26, 46, 53,20%);
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.content-header {
    text-decoration: none;
    height: 50px;
    top: 0;
    flex-wrap: wrap;
    position: sticky;
    z-index: 1;
}
nav{
  flex: 1;
  flex-wrap: wrap;
  
  /* padding-bottom: 5px; */
  align-items: center;
}

/* Navigation Bar-image*/
.nav-brand{
    width:150px; padding-left:10px;
    margin-top: 0;
    float: left;
}

/* Navbar container */
nav{
    height: 50px;
   
}
.navbar {
    overflow: hidden;
    padding-top: 10px;
    background-color:white;
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    
  }
  
/* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
 
  }

 
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: #2c3e50;
    font-weight: bold;
    padding: 14px 15px;
    background-color: inherit;
    font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0; /* Important for vertical align on mobile phones */
  }

 
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #50577A;

  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #404258;
    text-decoration: none;
    font-family:inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    display: block;
    text-align: left;
  }


  .nav-right p{
    float: right;
    padding-left: 200px;
    color: #404258;
    text-decoration: none;
    font-family:inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    display: block;
    text-align: center;
    display:flex; float:right;
    padding: 14px 15px;
    font-weight: 400;
  }
 
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-right{
    display: flex;
    padding-top: 0px;
    float: right;
    padding-right: 40px;
}

.btn-icn{
    padding-left: 5px ;
    padding-top: 5px;
    padding-right: 5px;
}

.saparator{
    
    background-color: black;
    height: 30px;
    width: 1px;
    padding-top: 13px;
    opacity: 20%;
}

.btn-signin{
    border: none;
    background-color: #2980b9;
    width: 100px;
    height: 40px;
    padding: auto;
    float: right;
    border-radius: 10px;
    text-align: center;
    color:white; 
    text-align: center; 
    padding: auto;
    margin-left: 5px;
    display: flex;
    
}

.btn-signin a{
    margin: auto;
    padding: auto;
    color:white;
}



/* Layout website - jumbotron */
.jumbotron{
    margin-top: 15px;
    /* border-color: black;
    border-style: solid; */
    width: 100%;
    height: 550px; 
}

.card{
  display:flex;
  width: 100%;
  height:100px;
  background-color:#fffefc ;  
  

}
.content-text{
  text-align:left;
  margin:10px 15px 40px 30px;
  padding-left:20px;
  padding-top:40px;
  padding-right:200px;
  font-family:arial;

}

.illustration img{
  text-align:left;
  margin:30px 15px 40px 30px;
  padding-top:50px;
  padding-right:50px;
  font-family:arial;
  border-radius: 10px 10px 10px 10px;
}

.content-text h1{
  color: #2c3e50;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-left: 2px;
  font-weight: bolder;
  font-size: 50px;
  line-height: 50px;
 }

 .content-text p{
  margin: 20px 0px 0px 10px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  opacity: 60%;
 }

 .Get-started{
  border-style: none;
  background-color: #2980b9 ;
  padding: 15px 15px 10px 15px;
  color:white; 
  text-decoration:none;
  border-radius: 5%;
  margin: 10px 10px 10px 10px;

 }

 .Get-started a{
  color: rgb(233, 233, 233);
  padding-bottom: 10px;
 }

/* Diviner */

  .diviner{
    width: 100%;
    background-color: #ecf0f1;
  }

/* End Diviner */
/* Layout website - main */

.main{
  height: 1560px;
  width: 100%;
  background-color: #ecf0f1;
  offset: 100px;
}

.informasi {
  background-color: #1a2e35;
  height: 50px;
  box-shadow: 2px 4px 8px rgb(189, 189, 189);
  display: flex;
  opacity: 100%;
  width: 100%;
}

.informasi span a{
  color: white;
}



.informasi span {
  margin: auto;
  padding: auto;
}

.infromasi a{
  color:white; 
  margin:auto; 
  font-size:large;
}

.headline{
  display:flex;
  margin-top: 100px;
  width: 100%;
  height: 500px;
}


.portal h1{
  padding-top: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 8px  rgba(26, 46, 53,50%);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  padding-left: 100px;
  margin-left: 2px;
  font-weight: bolder;
  font-size: 50px;
  line-height: 50px;
    
}

.portal p{
  color: grey;
  padding-left: 100px;
  margin-left: 2px;
  

}

.portal button{
  margin-left:100px ; 
  border-style: none; 
  padding:10px 25px 10px 25px; 
  background-color:#1a2e35; 
  margin-top:15px; 
  border-radius:10px;
}

.portal a{
  color: white;
}

.berita{
  height: 500px;
}

.kolom{
  width: 500px;
  margin-bottom: 5px;
  padding-right: 100px;
}

.kolom2{
  display: inline-flex;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  height: 400px;
  
}
.kartu{
  background-color: white;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: 10px;
  height: 300px;
  box-shadow: 2px 4px 16px rgb,a(192, 192, 192,50%);
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  text-align: center;
  
}

.why h1{
  padding-top: 40px;
  text-align: center;
  font-family: 'Helvetica';
  font-size: larger;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.introduction-video{
  
  height: 500px;
}

.introduction-video h1{
  padding-top: 40px;
  text-align: center;
  font-family: 'Helvetica';
  font-size: larger;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.introduction-video span{
  padding-top: 40px;
  text-align: center;
  font-family: 'Helvetica';
  font-size: large;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.content-video{
  margin: auto;
  width: 500px;
 } 



/* Layout website - footer */
.footer{
  background-color: #1a2e35;
  height: 50px;
  box-shadow: 2px 4px 8px rgb(189, 189, 189);
  display: flex;
  opacity: 100%;
  width: 100%;
}

.footer span{
  margin:auto;
   color:silver;
}
/* Mobile View Start */
@media screen and (max-width:1040px){
  /* Container  & Navbar start*/
   .container{
    
   }
   
   .nav-brand{
    margin: auto;
    padding-left: 150px;
    padding-right: 100px;
   }
   
   .nav-brand a{
    padding-left: 100px;
   }
   
   .header{
    height: 150px;
    position: -webkit-sticky;
    margin:auto;
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 22;
   }
   
   nav{
    height: 150px;
    text-align: center;
   }

   .btn-signin{
    border: none;
    background-color: #2980b9;
    width: 100px;
    height: 40px;
    padding: auto;
    float: right;
    border-radius: 10px;
    text-align: center;
    color:white; 
    text-align: center; 
    padding: auto;
    margin-left: 5px;
    display: flex;
  }
  .container{
    display: flex;

  }
  .container-fluid{
    width: 100%;
  }
  /* End Container & Navbar */

  /* Jumbotron Start */

  .jumbotron{
    width: 100%;
    height: 370px;
    
  }

  .illustration img{
    width: 100%;
    padding-right: 10px;
    margin: 0px 0px 0px -15px;
    
  }
  
  .card{
    width: 105%;
    height: 100%;
    margin-top: -14px;
    padding-top: -20px;
  }

  .content-text{
    width: 50%;
    text-align:left;
    margin:0px 0px 0px 0px;
    padding-left:0px;
    padding-top:5px;
    padding-right:10px;
    font-family:arial;
  }
  .content-text h1{
    color: #2c3e50;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    padding-left: 0;
    padding-right: 10px;
    font-weight: bolder;
    font-size: 50px;
    margin: -21px 0px 0px -20px;
    line-height: 50px;
    transform:scale(0.5,0.5);
  }
  .content-text p {
    
    padding: 0px 0px 0px 25px;
    transform: translate(-25px,-140px);
    scale: 0.7;
  }

  .btn-signin{
    border: none;
    background-color: #2980b9;
    width: 100px;
    height: 40px;
    padding: auto;
    float: right;
    border-radius: 10px;
    text-align: center;
    color:white; 
    text-align: center; 
    padding: auto;
    margin-left: 5px;
    display: flex;  
  }

  .Get-started{
    border-style: none;
    background-color: #2980b9 ;
    padding: 10px 10px 10px 10px;
    color:white; 
    text-decoration:none;
    border-radius: 5%;
    margin: 10px 10px 10px 10px;
    scale: 0.7;
    transform:translate(19px,-172px);
  
   }
  
   .Get-started a{
    color: white;
    padding-bottom: 5px;
   }

   /* Jumbotron End */

   /* Headline Start */

   .headline{
    display:flex;
    margin-top: 100px;
    width: 100%;
    transform: translate(-176px,-129px);
    scale: 0.7;
    height: 500px;
  }
  
  
  .portal h1{
    padding-top: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 8px  rgba(26, 46, 53,50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding-left: 100px;
    margin-left: 2px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 50px;
    line-height: 50px;
      
  }
  
  .portal p{
    color: grey;
    padding-left: 100px;
    margin-left: 5px;
    padding-top: 15px;
  
  }
  
  .portal{
    transform: translate(-10px,0px);
  }
  .portal button{
    margin-left:100px ; 
    border-style: none; 
    padding:10px 25px 10px 25px; 
    background-color:#1a2e35; 
    margin-top:25px; 
    transform: translate(0px,0px);

    border-radius:10px;
  }
  
  .portal a{
    color: white;
  }
  
  .berita{
    height: 500px;
  }
  
  .kolom{
    width: 380px;
    margin-bottom: 5px;
    padding: auto;
    margin-top: 10px;
    transform: translate(-5px,0px);
  }
  /* headline End */
  
  /* Why Start */
  .why{
    scale: 0.7;
  }
  .container-card{
    display: flex;
  }
  .kartu{
    background-color: white;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    height: 300px;
    box-shadow: 2px 4px 16px rgb,a(192, 192, 192,50%);
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    text-align: center;
    transform: translate(0px,0px);
    
  }
  
  .why h1{
    padding-top: 40px;
    text-align: center;
    font-family: 'Helvetica';
    font-size: larger;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
  }
  /* why End */

  /* Sambutan Start */
  .introduction-video{
    scale: 0.7;
    height: 500px;

  }

  .kolom2 {
    width: 600px;
  }

  .kartu h2 {
    font-size: medium;
  }
  
  .introduction-video h1{
    padding-top: 40px;
    text-align: center;
    font-family: 'Helvetica';
    font-size: larger;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
  }
  
  .introduction-video span{
    padding-top: 40px;
    text-align: center;
    font-family: 'Helvetica';
    font-size: large;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
  }
  
  .content-video{
    margin: auto;
    width: 500px;
    transform: translate(-50px, -4px);
   } 
   /* Sambutan End */

   /* Footer Start */

   .footer{
    background-color: #1a2e35;
    height: 50px;
    box-shadow: 2px 4px 8px rgb(189, 189, 189);
    display: flex;
    opacity: 100%;
    width: 100%;
  }
  
  .footer span{
    margin:auto;
    color:silver;
    scale: 0.8;
  }
  /* Footer End */

  
   
  
}